body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color:rgb(250, 250, 250);
    margin-left: 2%;
    margin-right: 2%;
}
.main,.head {
    margin-left: 10%;
    margin-right: 10%;
}
h1 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 20px;
    margin-left: 2.5%;
}
.logo {
    width: 55px;
    height: 55px;
}
a {
    text-decoration: none;
}
#begin-button {
    margin-left: 40%;
    margin-right: 40%;
}
#steps-container {
    margin: auto;
    width: 500px;
    min-height: 450px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
#complete {
    margin: auto;
    display: none;
    vertical-align: middle;
    align-items: center;
}
#transition {
    display: none;
    position: fixed;
}
.loaded #transition {
    transition: all 0.2s 1s ease-out;
}
.step {
    display: none;
}
input[type="radio"]:hover {
    cursor: pointer;
}
.back {
    font-weight: bold;
    color: #35a7dc;
    text-decoration: none;
}
.back:hover {
    color: #005d82;
    text-decoration: none;
}
@media (max-width: 767px) {
    #steps-container {
        width: 100%;
        min-height: 400px;
    }
}